body {
	background-color: #f4f7fe;
}


/*轮播图*/

.xd_pc_img {
	height: 601px;
	width: 100%;
	display: block;
	background-size: cover;
	-moz-background-size: cover;
	/* 老版本的 Firefox */
	background-position: center;
	background-repeat: no-repeat;
}

.xd_m_img {
	width: 100%;
	display: block;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.carousel-indicators li {
	width: 55px;
	border-radius: 0;
	border: 0;
	background-color: #B4B4B4;
	height: 5px;
}

.carousel-indicators .active {
	width: 55px;
	height: 5px;
	background-color: #FF9C00;
}


/*仓型介绍*/

.cang_introduce {
	width: 100%;
	background-color: #FFFFFF;
	padding: 60px 0 70px 0;
}

.cang_introduce .cang_int_peason {
	height: 500px;
	border-radius: 8px;
	padding: 10px 20px;
	background-color: #f7f7f7;
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	/* Firefox 4 */
	-webkit-transition: all 500ms linear;
	/* Safari 和 Chrome */
	-o-transition: all 500ms linear;
	/* Opera */
}

.cang_introduce .cang_int_peason:hover {
	background-color: #ffc000;
	color: #000000;
}

.cang_introduce .cang_int_peason .cang_introduce_img {
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	/* Firefox 4 */
	-webkit-transition: all 500ms linear;
	/* Safari 和 Chrome */
	-o-transition: all 500ms linear;
	/* Opera */
}

.cang_introduce .cang_int_peason:hover .cang_introduce_img {
	transform: scale(0.9);
	-ms-transform: scale(0.9);
	/* IE 9 */
	-webkit-transform: scale(0.9);
	/* Safari and Chrome */
	-o-transform: scale(0.9);
	/* Opera */
	-moz-transform: scale(0.9);
	/* Firefox */
}

.cang_introduce .cang_int_peason h4 {
	font-size: 22px;
	text-align: center;
	color: #000000;
	line-height: 70px;
}

.cang_introduce .cang_int_peason img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.cang_introduce .cang_int_peason h5 {
	text-align: center;
	color: #000000;
	font-size: 18px;
	line-height: 50px;
}

.cang_introduce .cang_int_peason p {
	text-align: left;
	line-height: 23px;
	font-size: 14px;
}


/*仓储服务*/

.cang_service_title ul li.col-lg-3,
.cang_service_title ul li.col-md-3,
.cang_service_title ul li.col-sm-3,
.cang_service_title ul li.col-xs-3 {
	padding: 0;
	text-align: center;
	font-size: 24px;
	line-height: 60px;
}

.cang_service_title ul li {
	text-align: center;
	border: solid 1px #CCCCCC;
	background: linear-gradient(#fff, #f4f4f4);
}

.cang_service_title ul li:first-child {
	border-radius: 5px 0 0 5px;
}

.cang_service_title ul li:last-child {
	border-radius: 0 5px 5px 0;
}

.cang_service_title ul li a {
	text-decoration: none;
	color: #666666;
}

.cang_service_title ul li.cang_ser_titon {
	background: #FF9C00;
}

.cang_service_title ul li.cang_ser_titon a {
	color: #fff;
}

.cang_service_content .cang_service_conpea {
	display: none;
}

.cang_service_content .cang_service_conpea:first-child {
	display: block;
}


/*为何选择懒人仓*/

.cang_why {
	width: 100%;
	background-color: #ffc000;
	padding: 60px 0 70px 0;
	position: relative;
}

.cang_why_tra>ul>li,
.cang_why_lrenc>ul>li {
	height: 40px;
	margin-top: 8px;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}

.cang_why_tra>ul>li:nth-child(1),
.cang_why_lrenc>ul>li:nth-child(1) {
	height: 66px;
	border-radius: 33px;
	font-size: 20px;
	line-height: 66px;
	font-weight: bold;
}

.cang_why_tra>ul>li {
	background-color: #FFFFFF;
	color: #9D9D9D;
}

.cang_why_tra>ul>li:hover {
	color: #ffc000;
	background-color: #000000;
}

.cang_why_lrenc>ul>li {
	background-color: #000000;
	color: #ffc000;
}

.cang_why_lrenc>ul>li:hover {
	background-color: #FFFFFF;
	color: #9D9D9D;
}

.cang_why_tra>ul>li:nth-child(1) {
	color: #000000;
}

.cang_why_tra>ul>li:nth-child(1):hover {
	color: #ffc000;
}

.cang_why_lrenc>ul>li:nth-child(1) {
	color: #FFFFFF;
}

.cang_why_lrenc>ul>li:nth-child(1):hover {
	color: #000000;
}

.cang_why_img {
	width: 250px;
	position: absolute;
	top: 80px;
	left: 29%;
	z-index: 800;
}

.cang_why .col-sm-6,
.cang_why .col-xs-6 {
	padding: 5px;
}


/*办理流程*/

.cang_liu {
	width: 100%;
	background-color: #F7F7F7;
	padding: 60px 0 70px 0;
}

.cang_liu_pea {
	height: 340px;
	border-radius: 10px;
	transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	/* Firefox 4 */
	-webkit-transition: all 500ms linear;
	/* Safari 和 Chrome */
	-o-transition: all 500ms linear;
	/* Opera */
}

.cang_liu_pea .rotatoimg {
	transition: transform 500ms linear;
	-moz-transition: all 500ms linear;
	/* Firefox 4 */
	-webkit-transition: all 500ms linear;
	/* Safari 和 Chrome */
	-o-transition: all 500ms linear;
	/* Opera */
}

.cang_liu_pea:hover .rotatoimg {
	transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	/* IE 9 */
	-webkit-transform: rotateY(360deg);
	/* Safari and Chrome */
	-o-transform: rotateY(360deg);
	/* Opera */
	-moz-transform: rotateY(360deg);
	/* Firefox */
}

.cang_liu_pea:hover {
	box-shadow: 5px 5px #dcbba2, -5px -5px #dcbba2;
}

.cang_liu i {
	width: 15px;
	height: 15px;
	background-color: yellow;
	border-radius: 15px;
	display: block;
	margin: 0 3% 0 25%;
	float: left;
}

.cang_liu h5 {
	color: #080808;
	font-size: 16px;
	line-height: 30px;
}

.cang_liu img {
	display: block;
	margin: 8px auto;
}

.cang_liu img:nth-child(1) {
	width: 80%;
}

.cang_liu h4:before {
	width: 20px;
	height: 20px;
	background-color: #FDBC00;
	border-radius: 20px;
}

.cang_liu h4 {
	text-align: center;
}

.cang_liu p {
	font-size: 14px;
	color: #242424;
}


/*连锁分店*/

.cang_dian {
	width: 100%;
	background-color: #F7F7F7;
	padding: 60px 0 70px 0;
}

.cang_dian_tabtitle {}

.cang_dian_tabtitle>ul>li {
	height: 60px;
	background-color: #DADADA;
	margin-top: 10px;
	line-height: 60px;
	color: #000000;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.cang_dian_tabtitle>ul>li:nth-child(1) {
	margin-top: 0;
}

.cang_dian_tabtitle>ul>li.active {
	background-color: #FFB900;
}

.cang_dian_tabcon {
	height: 270px;
	overflow: hidden;
}


/*.........................................................*/

.branch {
	padding: 85px 0;
}

.branch-row {
	padding: 40px 0 0;
	position: relative;
}

.map-content {
	width: 65%;
	height: 550px;
	border: #ccc solid 1px;
	box-sizing: border-box;
	float: left;
}

.branch-input {
	position: absolute;
	right: 0;
	top: 116px;
	width: 330px;
	background: #f0f0f0;
	padding: 20px 25px;
}

.branch-input input {
	width: 320px;
	padding: 10px 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.tab-list {
	margin-bottom: 10px;
}

.tab-list:after {
	content: '';
	display: block;
	clear: both;
}

.tab-list li {
	display: inline-block;
	width: 70px;
	margin: 5px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.tab-list li.cur {
	color: #fff;
	background: #cd592a;
	border: 1px solid #cd592a;
}

.result-list {
	height: 598px;
	overflow-y: auto;
}

.result-item {
	font-size: 14px;
	color: #999;
	margin: 15px 0;
	cursor: pointer;
	padding: 0 0 0 50px;
	background: url(../images/branch/pointer.png) 0 5px no-repeat;
}

.result-item h3 {
	color: #333;
	font-size: 18px;
	line-height: 2em;
}

.mobile-shop-filter {
	display: none;
}

.shop-filter {
	font-size: 18px;
	background: #f0f0f0;
	padding: 20px 25px;
	border-bottom: 2px solid #e37d3f;
	margin: 0 0 20px 0;
}

.city-filter {
	border-bottom: 1px dashed #737373;
	padding: 0 0 15px 0;
}

.city-list {
	display: inline-block;
	margin: 0;
}

.city-list li {
	line-height: 1em;
	height: auto;
	margin: 0 0 0 30px;
	background: #f0f0f0;
	border: 0 none;
	width: auto;
}

.city-list li.cur {
	color: #fc8948;
	background: #f0f0f0;
	border: 0 none;
}

.district-filter {
	padding: 15px 0 0;
}

.district-list {
	display: none;
}

.district-list li {
	display: inline-block;
	margin: 0 0 0 30px;
	cursor: pointer;
}

.district-list li.cur {
	color: #fc8948;
}

.branch-detail-list .result-list {
	width: 35%;
	height: 550px;
	float: left;
	padding: 0 0 0 20px;
}

.branch-detail-list .result-item {
	margin: 0 0 15px 0;
	padding: 0;
	background: transparent;
	border-bottom: 1px dashed #737373;
}

.branch-detail-list .result-item:after {
	content: '';
	display: block;
	clear: both;
}

.photo-wrap {
	float: left;
	margin-right: 30px;
	width: 437px;
	display: none;
}

.branch-photo {
	margin: 0;
}

.txt-wrap {}

.btns-wrap {
	display: none;
}

.result-item a {
	display: inline-block;
	padding: 5px 15px;
	background: #be3e25;
	color: #fff;
	vertical-align: middle;
	border-radius: 5px;
	margin-right: 10px;
}

.result-item h3 {
	line-height: 1.2em;
	font-size: 22px;
	margin-bottom: 15px;
}

.address,
.bus-stop,
.metro-station {
	margin: 8px 0;
	padding: 0 0 0 30px;
	position: relative;
}

.address:before,
.bus-stop:before,
.metro-station:before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 3px;
	background-image: url(../img/branch-icon.png);
	background-size: 16px auto;
	background-repeat: no-repeat;
}

.bus-stop:before {
	background-position: 0 -24px;
}

.metro-station {
	margin-bottom: 16px;
}

.metro-station:before {
	background-position: 0 -48px;
}


/*.........................................................*/


/*适配*/

@media only screen and (max-width: 992px) {
	/*轮播图*/
	.carousel-indicators li {
		width: 35px;
	}
	.item .banner_con {
		position: absolute;
		width: 70%;
		height: 50%;
		background-image: url(../img/index_banner_bg.png);
		top: 20%;
		right: 0;
		z-index: 500;
		background-size: cover;
		-moz-background-size: cover;
		/* 老版本的 Firefox */
		padding: 4% 13%;
		color: #FFFFFF;
		overflow: hidden;
	}
	.item .banner_con h3 {
		font-size: 16px;
		margin-right: 10px;
		line-height: 15px;
	}
	.item .banner_con span {
		font-size: 12px;
		line-height: 15px;
	}
	.item .banner_con p {
		font-size: 12px;
		width: 88%;
		line-height: 15px;
	}
	/*仓型介绍*/
	.cang_introduce .cang_int_peason {
		margin-top: 20px;
		height: 460px;
	}
	.cang_introduce .cang_int_peason h4 {
		font-size: 20px;
	}
	.cang_introduce .cang_int_peason h5 {
		font-size: 16px;
	}
	/*仓储服务*/
	.cang_service_title ul li.col-lg-3,
	.cang_service_title ul li.col-md-3,
	.cang_service_title ul li.col-sm-3,
	.cang_service_title ul li.col-xs-3 {
		font-size: 16px;
		line-height: 50px;
	}
	/*为何选择懒人仓*/
	.cang_why_img {
		width: 90px;
		top: 150px;
		left: 37%;
		z-index: 800;
	}
	/*流程*/
	.cang_liu {
		padding: 60px 0 0 0;
	}
	.cang_liu_pea1 {
		width: 50%;
	}
	.cang_liu_pea2 {
		width: 33.333333%;
	}
	.cang_liu i {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 8% 1% 0 10%;
	}
	.cang_liu h5 {
		font-size: 14px;
		line-height: 25px;
	}
	/*连锁分店*/
	.cang_dian {
		padding: 25px 0 0px 0;
	}
	.cang_dian_tabtitle>ul>li {
		margin-top: 0;
		margin-bottom: 15px;
		border-right: solid 1px #FFFFFF;
	}
	.cang_dian_tabcon {
		height: auto;
	}
	.cang_dian_tabtitle>ul>li {
		font-size: 14px;
	}
	.cang_dian_tabtitle .col-xs-3 {
		padding: 0;
	}
	.cang_dian_tabcon ul li div {
		height: 300px;
	}
	.map-content {
		width: 96%;
		height: 200px;
		margin-left: 2%;
	}
	.shop-filter {
		font-size: 16px;
		padding: 10px 15px;
		margin: 0 0 20px 0;
	}
	.branch-detail-list .result-list {
		width: 96%;
		height: 250px;
		padding: 0 0 0 10px;
		margin-top: 20px;
	}
	.result-item h3 {
		color: #333;
		font-size: 16px;
		line-height: 1.3em;
	}
}