body {
	position: relative;
	background-color: #FFFFFF;
}

.container {
	padding: 0;
}

.comment_border {
	border: solid 1px #E3E3E3;
	margin-top: 20px;
	padding: 15px;
}

.infor_con {
	padding: 30px 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	padding-right: 15px;
	padding-left: 15px;
}


/*资讯中心标题*/

.infor_top_title {
	border-left: solid 8px #FF9C00;
	padding-left: 10px;
}

.infor_top_title h5 {
	font-size: 26px;
	color: #000000;
}

.infor_top_title span {
	font-size: 10px;
	color: #000000;
}


/*新闻内容*/

.news_con {
	border: solid 1px #EDEDED;
	margin-top: 30px;
	padding: 30px 50px 50px 50px;
}

.news_con .news_con_top,
.news_con .news_con_top h4 {
	text-align: center;
}

.news_con .news_con_top h4 {
	color: #7E7E7E;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 40px;
}

.news_con .news_con_top span {
	color: #7E7E7E;
	font-size: 14px;
	line-height: 40px;
}

.news_con .news_con_bot {
	text-align: center;
	border-top: solid 2px #EDEDED;
}

.news_con .news_con_bot img {
	width: 50%;
	margin: 40px 0;
}

.news_con .news_con_bot p {
	text-align: justify;
	text-indent: 2em;
	font-size: 16px;
	line-height: 30px;
}


/*做适配*/

@media only screen and (max-width: 992px) {
	.container {
		padding: 5px;
	}
	.infor_con {
		padding: 15px 0;
	}
	.col-xs-1,
	.col-sm-1,
	.col-md-1,
	.col-lg-1,
	.col-xs-2,
	.col-sm-2,
	.col-md-2,
	.col-lg-2,
	.col-xs-3,
	.col-sm-3,
	.col-md-3,
	.col-lg-3,
	.col-xs-4,
	.col-sm-4,
	.col-md-4,
	.col-lg-4,
	.col-xs-5,
	.col-sm-5,
	.col-md-5,
	.col-lg-5,
	.col-xs-6,
	.col-sm-6,
	.col-md-6,
	.col-lg-6,
	.col-xs-7,
	.col-sm-7,
	.col-md-7,
	.col-lg-7,
	.col-xs-8,
	.col-sm-8,
	.col-md-8,
	.col-lg-8,
	.col-xs-9,
	.col-sm-9,
	.col-md-9,
	.col-lg-9,
	.col-xs-10,
	.col-sm-10,
	.col-md-10,
	.col-lg-10,
	.col-xs-11,
	.col-sm-11,
	.col-md-11,
	.col-lg-11,
	.col-xs-12,
	.col-sm-12,
	.col-md-12,
	.col-lg-12 {
		padding-right: 5px;
		padding-left: 5px;
	}
	/*资讯中心标题*/
	.infor_top_title {
		border-left: none;
	}
	.infor_top_title h5 {
		font-size: 20px;
	}
	/*新闻内容*/
	.news_con {
		margin-top: 20px;
		padding: 10px;
	}
	.news_con .news_con_top h4 {
		font-size: 22px;
		letter-spacing: 0px;
		line-height: 30px;
	}
	.news_con .news_con_top span {
		font-size: 14px;
		line-height: 40px;
	}
	.news_con .news_con_bot {
		text-align: center;
		border-top: solid 2px #EDEDED;
	}
	.news_con .news_con_bot img {
		width: 90%;
		margin: 20px 0;
	}
	.news_con .news_con_bot p {
		font-size: 14px;
		line-height: 25px;
	}
}